<!-- Collection List Slider -->
<div class="collection-list-slider">
    {% for collection in collections %}
        <div class="slider-item">
            <a href="{{ collection.url }}" class="slider-item-link">
                <img src="{{ collection.image | img_url: '300x300' }}" alt="{{ collection.title | escape }}">
                <p>{{ collection.title }}</p>
            </a>
        </div>
    {% endfor %}
</div>
<script>
  var swiper = new Swiper('.collection-list-slider', {
    // Parameters
    slidesPerView: 3,
    spaceBetween: 30,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    // Responsive breakpoints
    breakpoints: {
      // when window width is >= 320px
      320: {
        slidesPerView: 1,
        spaceBetween: 20
      },
      // when window width is >= 480px
      480: {
        slidesPerView: 2,
        spaceBetween: 30
      },
      // when window width is >= 640px
      640: {
        slidesPerView: 3,
        spaceBetween: 40
      }
    }
  });
</script>
